html {
  max-width: 100%;
  background-color: #d3c799;
}

body {
  font-family: "Georgia", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.wrapper {
  max-width: 740px;
  margin: 0 auto;
}

.header {
  font-size: 0px;
  min-height: 270px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 50px #d3c799, 3px 3px 50px #d3c799, 3px 3px 50px #d3c799, 3px 3px 50px #d3c799;
}

.header-relliz__one {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  width: 450px;
  padding-top: 10px;
  background-color: #f3a58c;
}

.img-knife {
  padding: 0 28px 10px 10px;
}

.delicious {
  color: #e85f35;
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1.8px;
}

.adress-block {
  display: inline-block;
  vertical-align: middle;
}

.adress {
  display: inline-block;
  max-width: 232px;
  height: 37px;
  color: #000000;
  text-align: left;
}

.img_phone {
  padding-top: 12px;
  margin-left: -20px;
}

.header-reliz__two {
  display: inline-block;
  font-size: 18px;
  background-color: #f3b78c;
  width: 290px;
  height: 150px;
}

.text-sum {
  display: inline-block;
  padding: 30px 0 0 10px;
  font-size: 18px;
}

.img_bascet {
  vertical-align: middle;
  margin: 35px 0 0 -37px;
}

.header-reliz__three {
  display: inline-block;
  background-color: #e33b2e;
  width: 740px;
  padding-top: 16px;
  padding-bottom: 20px;
}

.pot,
.table,
.table-two,
.box_desert,
.glass {
  display: inline-block;
  vertical-align: bottom;
  color: #fff4d6;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 0 0 54px;
  text-align: center;
}

.main-course {
  min-height: 270px;
  box-shadow: 0 1px 30px #afab99, 0 1px 30px #d3c799, 0 1px 30px #afab99, 0 1px 30px #d3c799;
  margin-bottom: 30px;
}

.div_head {
  height: 40px;
  background: #7c0b03;
  background: linear-gradient(90deg, #e91f10 0%, #f58a75 35%, #f3a58c 100%);
}

.main-course__head {
  color: #000000;
  padding-top: 11px;
  text-align: center;
}

.border-photo {
  margin: 10px;
  outline: 10px solid #fff;
}

.adress-title {
  max-width: 484px;
  padding-left: 19px;
  color: #000;
}

.amount-weight {
  display: inline-block;
  font-size: 0;
  max-width: 230px;
  height: 58px;
  text-align: center;
}

.div-color__rouse {
  display: inline-block;
  font-size: 18px;
  width: 135px;
  background-color: #f3b78c;
}

.div-color__yellowgreen {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  padding: 18px 0 0 30px;
  width: 95px;
  height: 58px;
  background-color: #e9ea95;
}

.bascet_plus {
  margin-top: -20px;
}

.menu-block {
  max-width: 790px;
  max-height: 650px;
  box-shadow: 3px 3px 50px #d3c799, 3px 3px 50px #d3c799, 3px 3px 50px #d3c799, 3px 3px 50px #d3c799;
  margin-bottom: 16px;
}

.menu-blocks {
  display: inline-block;
  vertical-align: bottom;
  width: 230px;
  max-height: 300px;
  margin: 5px 6px;
  box-shadow: 10px 10px 10px #a19975, 10px 10px 10px #d3c799, 3px 3px 10px #d3c799, 10px 10px 10px #d3c799;
}

.foots {
  background-color: #d33327;
  height: 120px;
  box-shadow: 0 -1px 5px #a59d9d, 0 -1px 5px #726969, 0 -1px 5px #726969, 0 -1px 5px #726969;
}

.foots-menu {
  display: block;
  width: 650px;
  height: 25px;
  text-align: center;
  padding-bottom: 41px;
}

.foots-end {
  color: #dbdbdb;
  font-size: 14px;
  padding-top: 41px;
  text-align: center;
}
