@font-face {
    font-family: 'Arial Narrow';
    src: url('..//fonts/ArialNarrow.woff2') format('woff2'),
        url('..//fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('..//fonts/ArialNarrow-Bold.woff2') format('woff2'),
        url('..//fonts/ArialNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('..//fonts/Tahoma.woff2') format('woff2'),
        url('..//fonts/Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('..//fonts/Tahoma-Bold.woff2') format('woff2'),
        url('..//fonts/Tahoma-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
