html {
  width: 1150px;
  margin: 0 auto;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 1970px;
  font-family: "Tahoma", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #424242;
  margin-top: 15px;
}

.img__leb {
  display: inline-block;
  vertical-align: middle;
}

.block__header {
  padding-left: 65px;
}

.phone__color {
  font-family: "Tahoma Bold", serif;
  font-size: 22px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: -0.25px;
  width: 370px;
  height: 23px;
  text-shadow: 3px 5px 0 #f5d6d6;
  color: #c81411;
  padding: 0 30px 0 5px;
}

.email__color {
  color: #c81411;
}

.img_seach {
  width: 15px;
  height: 15px;
}

.seach {
  width: 270px;
  height: 30px;
  margin-left: 105px;
  padding: 4px 10px 0 15px;
  border: 1px solid black;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.navigation {
  display: inline-block;
  padding-top: 20px;
  min-width: 1144px;
  min-height: 311px;
}

.prezends {
  display: inline-block;
  vertical-align: middle;
  margin-left: -80px;
  padding-top: 85px;
  min-width: 333px;
  height: 121px;
}

h1 {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 25.87px;
  text-align: left;
  text-transform: uppercase;
  color: #c81411;
}

.prezends__description {
  min-width: 328px;
  height: 38px;
  color: #575152;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.btn__detalis {
  width: 114px;
  height: 29px;
  background-color: #1e52ae;
  background-image: linear-gradient(to top, #c81411 0%, #ed2222 100%);
  color: #fefefe;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}

.block__description {
  display: inline-block;
  vertical-align: top;
  margin-left: 60px;
  min-width: 174px;
  min-height: 265px;
}

span.treh {
  width: 10px;
  height: 84px;
  color: #c81411;
}

.block__description1,
.block__description2,
.block__description3,
.block__description4,
.block__description5,
.block__description6 {
  max-width: 174px;
  min-height: 35px;
  padding-top: 15px;
  font-family: "Lobster", cursive;
  font-size: 14px;
  border: 1px #eeeaea solid;
  box-shadow: 7px 1px 50px #636262;
  text-align: left;
}

.block__navigation {
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  width: 1144px;
  height: 44px;
  border: none #eb9696 solid;
  background-color: #fa0202;
  box-shadow: 1px -10px 20px #fc8989;
}

.on,
.tw,
.th,
.fo,
.fi,
.se {
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  border-inline: 1px #fff dashed;
  color: white;
}

.tw {
  color: #000;
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  height: 44px;
  background-color: #fff;
}

main {
  margin-top: 20px;
}

.product__list {
  display: inline-block;
  vertical-align: top;
  width: 194px;
  height: 630px;
  margin-right: 100px;
}

.head,
.col__list {
  width: 116px;
  height: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

.head {
  color: #464646;
}

.col__list {
  color: #cd1613;
  padding-left: 10px;
}

.block__description7 {
  width: 200px;
  max-height: 40px;
  margin-top: 10px;
  padding: 5px 15px;
  border: 1px rgba(196, 186, 186, 0.479) solid;
  text-shadow: 0 1px 0 rgba(190, 187, 187, 0.877);
  box-shadow: inset 0px -2px 15px rgba(206, 204, 204, 0.877);
  color: #464646;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

.block__description8 {
  width: 200px;
  min-height: 40px;
  padding: 5px 15px 0 15px;
  border: 1px rgba(196, 186, 186, 0.479) solid;
  text-shadow: 0 1px 0 rgba(190, 187, 187, 0.877);
  box-shadow: inset 0px -2px 15px rgba(206, 204, 204, 0.877);
  color: #c81411;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

ul > li {
  padding-left: 30px;
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.special__char {
  color: #c81411;
  font-size: 10px;
}

.block__description9,
.block__description10,
.block__description11,
.block__description12,
.block__description13,
.block__description14,
.block__description15,
.block__description16,
.block__description17 {
  width: 200px;
  min-height: 40px;
  padding: 10px 15px;
  border: 1px rgba(196, 186, 186, 0.479) solid;
  text-shadow: 0 1px 0 rgba(190, 187, 187, 0.877);
  box-shadow: inset 0px -2px 15px rgba(206, 204, 204, 0.877);
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

.production__img {
  display: inline-block;
  vertical-align: top;
  margin-left: -45px;
  max-width: 896px;
  max-height: 900px;
}

h2 {
  display: inline-block;
  vertical-align: bottom;
  text-shadow: 0 5px 5px rgba(255, 255, 255, 0.8);
  color: #cd1613;
  font-family: "Arial Narrow";
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.block__img {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

.img__product {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  height: 136px;
  border: 1px rgba(197, 191, 191, 0.35) solid;
  margin-left: 15px;
  border-radius: 25px;
  padding-top: 10px;
  text-align: center;
}

/*.img__products
 * display: inline-block
 * vertical-align: top
 * width: 180px
 * height: 136px
 * border: 1px rgba(197, 191, 191, 0.35) solid
 * border-radius: 25px
 * padding-top: 10px
 * margin-left: 20px
 * text-align: center */
.text__product {
  width: 200px;
  height: 136px;
  margin-top: 10px;
  margin-bottom: -50px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #464646;
  font-size: 5px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  padding-left: 15px;
  text-transform: uppercase;
}

.company__img {
  margin-left: 280px;
}

.text__copy {
  width: 835px;
  height: 414px;
  color: #424242;
  font-family: "Lobster";
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-indent: 30px;
}

footer {
  width: 1244px;
  height: 74px;
  border-radius: 25px 25px 0 0;
  background-color: #636363;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.copyrighr {
  margin: 235px 0 0 650px;
  padding-top: 35px;
}
