@import url("https://fonts.googleapis.com/css?family=Smooch:regular&display=swap&subset=latin-ext");

@font-face {
    font-family: 'Arial MT';
    src: url('../fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../fonts/Arial-BoldMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/Tahoma.woff2') format('woff2'),
        url('../fonts/Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univers';
    src: url('../fonts/Univers-Bold.woff2') format('woff2'),
        url('../fonts/Univers-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.woff2') format('woff2'),
        url('../fonts/Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




